<div class="container-fluid">
  <span>
    <textarea rows="10" cols="50" class="ace_text-input" placeholder="Type in your code here" id="codeBox01" spellcheck="false" autocorrect='false'></textarea>
  </span>
  
  <output id='out01'>where code is output </output>
  
</div>
<div class="container-fluid" style="padding-left: 50px;">
  <button class="btn btn-danger" type="button" onclick=" " > Run </button>
</div>

<!-- <div class="container-fluid align-top">
  <span><textarea rows="10" cols="50" class='ace_text-input' placeholder="Type in your code here" id="codeBox02" spellcheck="false" autocorrect='false'></textarea></span>
  <output id='out02'>where code is output</output>
</div> -->


<!-- https://codemirror.net/ -->
<!-- https://stackoverflow.com/questions/1995370/html-adding-line-numbers-to-textarea -->