# the javascript is from ts and wasm compilation, so they aren't needed. Also
# excluding all compiled examples
*.js
*.wasm
cRust
cC*

# our log files aren't important to others
*.log
errFile.txt

# test files are useless unless they directly test our application
*test*.*

# The target directory has no useful info for someone else, so it isn't needed
*/target/
