<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>WebIDE</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/cookie.js"></script>
    <script type="text/javascript" src="../static/js/leave_warning.js"></script>
    <script type="text/javascript" src="../static/js/compile.js"></script>
    <script type="text/javascript" src="../static/js/download.js"></script>
    <script type="text/javascript" src="../static/js/base.js"></script>
  </head>

  <body>
  <var id='fileDataUploaded'>{{data}}</var>
    <div id="sidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <a href="#">Home</a>
      <a href="/about">About</a>
      <a href="#" onclick="saveTextAsFile()">Download</a>
      <a href="#" onclick="saveAll()">Save</a>
      <a href="#" onclick="emptyAll()">Clear</a>
      <a href="#">Import
        <form action="getfile" method="POST" enctype="multipart/form-data">
        <!--<form onsubmit="return uploadFile()" method="POST" enctype="multipart/form-data">-->
          <input type="file" name="myfile" id="fileToUpload"><br>
          <input type="submit" value="submit">
        </form>
      </a>
    </div>
    <span style="font-size:30px;cursor:pointer" class='right' onclick="openNav()">&#9776; open</span>
  
    <!--&#x1F4C1 closed dir-->
    <!--&#x1F4C2 open dir-->
    <!--&#x1F4C4 file-->
    <!--&#x2304 downward facing arrow-->
    <!--&#707 right facing arrow-->
    <div class="grid-container">
      <div class="settings">
          <select id="language">
              <option value="AI">AI Detirmined</option>
              <option value=".c">C</option>
              <option value=".cpp">CPP</option>
              <option value=".java">Java</option>
              <option value=".js">JavaScript</option>
              <option value=".py">Python</option>
              <option value=".rs">Rust</option>
          </select>
        <button id='submit' type='submit' onclick='extractContents()'> Run &#x00bb;</button>
        <button id='copybutton' onclick="copytext()">Copy Code to Clipboard</button>
      </div>
    
      <div class="folders">
        <aside id="fileNav">
          <button id="saveFiles" onclick="saveFiles()">Save File</button>
          <br>
          <button id="removeFile" onclick="removeFile()">Delete Current</button>
          <br>
          <h3>Files:</h3>
          <br>
          <!--<p>&#x2304; &#x1F4C2; stuff</p>
          <p>&emsp; &emsp; &#x1F4C4; foo</p>
          <p>&emsp; &emsp; &#x1F4C4; bar</p>
          <p>&emsp; &emsp; &#x1F4C4; baz</p>
          <p>&#707; &#x1F4C1; things</p>-->
        </aside>
      </div>
    
      <div class="input">
          <form>
              <input type='text' name='filename' id='filename' size='35' placeholder='File Name'value={{uploadedName}}>
              <br>
              <textarea name="codebox" rows="22"  placeholder="Type code here" id="codebox" spellcheck="false" placeholder="Type code here">{{fileContent}}</textarea>
          </form>
      </div>
    
      <div class="output">
        <textarea id="output" rows="8"  readonly></textarea>
      </div>
      
    </div>
  
    <script>
          <!--var button = document.getElementById('save');-->
          <!--button.addEventListener('click', saveTextAsFile);-->
          
    </script>
    
  </body>
</html>

<!-- https://codemirror.net/ -->
<!-- https://stackoverflow.com/questions/1995370/html-adding-line-numbers-to-textarea -->
