textarea{
    padding-left: 40px;
    background-color: black;
    color: rgb(0, 255, 0);
}

span {
    padding-left: 30px;
}

output {
    padding-left: 30px;
    color: rgb(0, 214, 0);
}

html {
    background-color: #ffeee3;
}

.right{
    margin: auto;
    position: absolute;
    overflow: auto;
    right: 20px;
}

/* side menu bar require DO NOT ERASE*/

/* The side navigation menu */
body {
    font-family: "Arial", sans-serif;
    padding: 15px;
    background-color: #ffeee3;
}

.sidenav {
    height: 100%;
    width: 0;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0px;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    /* color: #f1f1f1; */
    color: rgb(0, 255, 0);
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}